---
- name: Install mdadm
  ansible.builtin.apt:
    name: mdadm
- name: Mount RAID arrays
  ansible.posix.mount:
    path: '{{ item.path }}'
    src: '{{ item.src }}'
    fstype: '{{ item.fstype | default(none) }}'
    opts: '{{ item.opts | default(omit) }}'
    state: mounted
  loop: '{{ mdadm_mounts }}'
  loop_control:
    label: '{{ item.path }}'
